.flightData {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  z-index: 4;
  width: 70em;
  height: 20em;
  font-size: small;
  border-radius: 3%;
  border-bottom: 0.25em solid black;
  border-right: 0.25em solid black;
}

.flightName {
  margin-bottom: 0em;
}

.flightPhone {
  /* margin-top: 0em; */
  margin-bottom: 0em;
}

.flightWeb {
  margin-top: 0em;
  margin-bottom: 0em;
}

.flightPrice {
}

.flightSubmit {
  width: 15em;
  height: 2.5em;
  border-radius: 25%;
}

.loadingWarn {
  margin-left: 23em;
  font-size: large;
}

.flightsTotal {
  min-width: 84.75em;
  display: grid;
  grid-auto-flow: column;
  max-height: 47.5em;
  overflow-y: scroll;
  margin-top: 0.5em;
}
