.hotelTv {
  display: flex;
  justify-content: center;
  background-color: rgb(222, 184, 135);
  border: 0.5em solid black;
  margin: 1em;
  padding: 1em 0em 5em 2em;
  flex-direction: row;
  height: 49em;
  border-radius: 2.5%;
  box-shadow: black 0.5em 0.5em 1em;
  position: relative;
  z-index: 1;
}

.hotelScreen {
  display: flex;
  justify-content: center;
  border: 0.25em solid black;
  background-color: rgb(95, 158, 160);
  width: 90em;
  margin-left: 21em;
  border-radius: 2.5%;
  position: relative;
  z-index: 3;
}

.flightData {
  display: flex;
  flex-direction: column;
}

.flightsTotal {
  text-align: center;
  justify-items: center;
  min-width: 86em;
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 12.5em;
  max-height: 47.5em;
  overflow: scroll;
  margin-top: 0.5em;
}
