.rentalData {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 65em;
  height: 40em;
  /* font-size: small; */
  border-radius: 3%;
  border-bottom: 0.2em solid black;
  border-right: 0.15em solid black;
  margin-right: 16.5em;
}

.rentalImg {
  width: 17em;
  height: 7em;
}

.rentalName {
  margin-bottom: 0em;
}

.rentalAddress1 {
  margin-bottom: 0em;
}

.rentalAddress2 {
  margin-top: 0em;
  margin-bottom: 0em;
}

.rentalPhone {
  margin-top: 0.5em;
}

.rentalSubmit {
}

.carRentalTotal {
  min-width: 86em;
  display: grid;
  /* grid-auto-flow: column; */
  max-height: 47.5em;
  overflow-y: scroll;
  margin-top: 0.5em;
}
