.totalInfo {
  min-width: 86em;
  display: grid;
  max-height: 47.5em;
  overflow: scroll;
  margin-top: 0.5em;
  border: 1em solid black;
}

.hotelTotal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 70em;
  height: 40em;
  font-size: small;
  border-radius: 3%;
  border-bottom: 0.25em solid black;
  border-right: 0.25em solid black;
}

.flightTotal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 70em;
  height: 40em;
  font-size: small;
  border-radius: 3%;
  border-bottom: 0.25em solid black;
  border-right: 0.25em solid black;
}

.rentalTotal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 70em;
  height: 40em;
  font-size: small;
  border-radius: 3%;
  border-bottom: 0.25em solid black;
  border-right: 0.25em solid black;
}
