.totalInfo {
  min-width: 86em;
  display: grid;
  max-height: 47.5em;
  overflow-y: scroll;
  margin-top: 0.5em;
}

.hotelTotal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 70em;
  height: 20em;
  font-size: small;
  border-radius: 3%;
  border-bottom: 0.25em solid black;
  border-right: 0.25em solid black;
  /* background-color: white; */
}

.hotelTotalImg {
  width: 15em;
  height: 10em;
  border-radius: 10%;
}

.hotelTotalName {
  margin-top: 0em;
  margin-bottom: 0em;
}

.hotelTotalPrice {
  margin-top: 0em;
}

.flightTotal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 70em;
  height: 20em;
  font-size: small;
  border-radius: 3%;
  border-bottom: 0.25em solid black;
  border-right: 0.25em solid black;
  /* background-color: white; */
}

.flightTotalName {
  margin-bottom: 0em;
}

.flightTotalPrice {
  margin-top: 0em;
  margin-bottom: 0em;
}

.rentalTotal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 70em;
  height: 20em;
  font-size: small;
  border-radius: 3%;
  border-bottom: 0.25em solid black;
  border-right: 0.25em solid black;
  /* background-color: white; */
}

.rentalTotalImg {
  border-radius: 10%;
  width: 20em;
  height: 10em;
}

.rentalTotalName {
  margin-top: 0em;
  margin-bottom: 0em;
}

.rentalTotalPrice {
  margin-top: 0em;
  margin-bottom: 0em;
}
