.hotelTv {
  display: flex;
  justify-content: center;
  background-color: rgb(222, 184, 135);
  border: 0.5em solid black;
  margin: 1em;
  padding: 1em 0em 5em 2em;
  flex-direction: row;
  height: 49em;
  border-radius: 2.5%;
  box-shadow: black 0.5em 0.5em 1em;
  position: relative;
  z-index: 1;
}

.hotelScreen {
  display: flex;
  justify-content: center;
  border: 0.25em solid black;
  background-color: cadetblue;
  width: 90em;
  margin-left: 21em;
  border-radius: 5%;
  position: relative;
  z-index: 3;
}

.loading {
  margin-top: 10em;
  font-size: xx-large;
}

.hotelCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 4;
  width: 20em;
  height: 15em;
  margin-bottom: 0.25em;
  font-size: small;
  border-radius: 5%;
  margin-right: 0.25em;
}

.hotelImg {
  align-self: center;
  border-radius: 5%;
  width: 11em;
  height: 6em;
}

.hotelName {
  margin-top: 0em;
  align-self: center;
}

.hotelRating {
  margin-top: 0em;
  align-self: center;
}

.hotelList {
  margin-top: 0.25em;
  display: grid;
  align-items: center;
  grid-auto-flow: row;
  grid-auto-rows: 12.5em;
  grid-template-columns: unset;
  grid-template-rows: unset;
  max-height: 47.5em;
  overflow: scroll;
  grid-template-columns: repeat(5, fit-content(1em));
  position: relative;
  z-index: 5;
}
