.backBtn {
  background-color: transparent;
  border: transparent;
  border-radius: 5%;
  border-right: solid rgb(37, 78, 80) 0.25em;
  margin-right: 0.25em;
  position: relative;
  z-index: 1;
}

.backBtn:hover {
  background-color: rgb(37, 78, 80);
}

.hotelImgs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.rHotelImg {
  width: 40em;
  height: 30em;
  border-radius: 5%;
}

.hotelImg2 {
  width: 40em;
  height: 30em;
  border-radius: 5%;
}

.roomHotelImg {
  width: 15em;
  height: 10em;
  border-radius: 10%;
}

.hotelRoom {
  margin-top: 0.25em;
  display: grid;
  align-items: center;
  margin-left: 0.5em;
  max-width: 83em;
  margin-top: 0.5em;
  margin-right: 0.5em;
  max-height: 47.5em;
  overflow-y: scroll;
  position: relative;
  z-index: 5;
}

.hotelDesc {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.roomHotelName {
  margin-bottom: 0em;
}

.hotelAddress1 {
  margin-bottom: 0em;
}

.hotelAddress2 {
  margin-top: 0em;
  margin-bottom: 0em;
}

.hotelPhone {
}

.roomCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  z-index: 4;
  width: 104em;
  height: 25em;
  font-size: small;
  border-radius: 3%;
  border-bottom: 0.25em solid black;
  border-right: 0.25em solid black;
}

.roomImgs {
  display: flex;
  flex-direction: row;
}

.roomDeets {
  font-size: large;
}

.roomSubmit {
  border-radius: 25%;
  width: 15em;
  height: 2.5em;
}
