.carData {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 70em;
  height: 40em;
  font-size: small;
  border-radius: 3%;
  border-bottom: 0.25em solid black;
  border-right: 0.25em solid black;
}

.carTotal {
  min-width: 86em;
  display: grid;
  /* grid-auto-flow: column; */
  max-height: 47.5em;
  overflow-y: scroll;
  margin-top: 0.5em;
}

.carRentalName {
  margin-left: 10.5em;
  margin-bottom: 1em;
}

.carImg {
  border-radius: 10%;
  /* margin-bottom: 0em; */
}

.carName {
  margin-top: 0em;
  margin-bottom: 0em;
}

.carDesc {
  margin-bottom: 0em;
}

.carSeats {
  margin-top: 0em;
  margin-bottom: 0em;
}

.carTran {
  margin-top: 0em;
  margin-bottom: 0em;
}

.carPrice {
}

.carSubmit {
  width: 25em;
  height: 2.5em;
  border-radius: 25%;
}
